.body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page {
  width: 70vmin;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.game-text-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 60vmin;
  border: 4px double black;
}

.game-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.game-tally-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-left: 1px solid black;
}

.game-text {
  font-weight: bold;
  font-size: 20px;
}

.board {
    display: grid;
    gap: 5px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);

    background-color: aliceblue;

    height: 60vmin;
    width: 60vmin;
}

.currentPlayer {
    font-size: 30px;
}

.square {
    user-select: none;
    cursor: pointer;

    line-height: 1;
    font-size: 18vmin;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid #000;
    background-color: beige;

    aspect-ratio: 1;
}

.square:hover {
  background-color: rgb(194, 194, 168);
}

.square-winner {
    box-shadow: inset 0px 0px 5px 5px black;
    animation: blink-red 2s infinite steps(2, jump-none);
}

@keyframes blink-red {
  0% { box-shadow: inset 0px 0px 5px 5px #F00; }
  100% { box-shadow: inset 0px 0px 5px 5px #000; }
}

.loader {
  display: inline-block;
  width: 10px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#000 0 0);
  background: 
    var(--c) 0%   50%,
    var(--c) 50%  50%,
    var(--c) 100% 50%;
  background-size: 20% 100%;
  animation: l1 1s infinite linear;
}
@keyframes l1 {
  0%  {background-size: 20% 100%,20% 100%,20% 100%}
  33% {background-size: 20% 10% ,20% 100%,20% 100%}
  50% {background-size: 20% 100%,20% 10% ,20% 100%}
  66% {background-size: 20% 100%,20% 100%,20% 10% }
  100%{background-size: 20% 100%,20% 100%,20% 100%}
}

.restartButton {
  width: 60vmin;
  height: 5vmin;
  font-size: 4vmin;
  text-align: center;
  vertical-align: middle;
  margin: 0px 0px 5px 0px;
}